
.header{
    background-color: rgb(124, 192, 112);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}