body {
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg,
  rgb(124, 192, 112),
  rgb(256, 256, 256));
}

.video-login-container {
  display: flex;
  height: 550px;
  width: 700px;
  position: relative;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(7, 136, 7, 0.8);
}

.video-content {
  flex: 1;
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1;
  align-items: center;
  background-color: white;
  max-width: 500px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.app-title {
  font-size: 18px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(7, 136, 7, 0.8);
}

.userName {
  margin: 10px;
  padding: 7px;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(124, 192, 112);
}

.userName:focus {
  border: 2px solid rgba(7, 136, 7, 0.925);
}

.pass {
  margin: 10px;
  padding: 7px;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(124, 192, 112);
}

.pass:focus {
  border: 2px solid rgba(7, 136, 7, 0.925);
}

.login-button {
  margin: 10px;
  padding: 7px;
  background-color: rgba(7, 136, 7, 0.8);
  border-style: none;
  color: white;
  border-radius: 20px;
  transition: opacity 0.4s;
}

.login-button:hover {
  opacity: 0.7;
}

.copyrights{
  margin-top: 20px;
  color: white;
  font-size: 12px;
}

.article{
  margin: 80px;
  color: gray;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}